.navbar-container{
    width: 100%;
    background-color: var(--element-bg);
    /* background-color: aqua; */
    box-shadow: var(--shadow);
    --moz-box-shadow: var(--shadow);
    --webkit-box-shadow: var(--shadow);
}
nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    color:var(--text-color);
}
.theme-toggle{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
body.dark .theme-toggle svg{
    fill: var(--text-color);
}

@media (max-width:425px) {
    nav h1{
        font-size: 1.1rem;
    }
}