@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  /* (Dark Mode Elements) */
  --DarkBlue: hsl(209, 23%, 22%);
  /* (Dark Mode Background) */
  --VeryDarkBlueBg: hsl(207, 26%, 17%);
  /* (Light Mode Text) */
  --VeryDarkBlueText: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --DarkGray: hsl(0, 0%, 52%);
  /* (Light Mode Background) */
  --VeryLightGray: hsl(0, 0%, 98%);
  /* (Dark Mode Text & Light Mode Elements) */
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  line-height: 1.5;
  font-family: 'Nunito Sans', sans-serif;

  --body-bg:var(--VeryLightGray);
  --element-bg:var(--White);
  --text-color:var(--VeryDarkBlueText);
  --input-color:var(--DarkGray);
  --shadow:0px 1px 8px rgba(0,0,0,0.1);
  background-color: var(--body-bg);
  color:var(--text-color);
  transition: all 500ms;
}

body.dark{
  --body-bg:var(--VeryDarkBlueBg);
  --element-bg:var(--DarkBlue);
  --text-color:var(--White);
  --input-color:var(--White);
  /* --shadow:0px 1px 8px rgba(255,255,255,0.7); */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width:1100px) {
  .wrapper{
    width: calc(100% - 20px);
  }
}
